---
- name: Provision hypervisor
  hosts: hypervisor
  become: true
  tasks:
    - name: Prepare basic OS configuration
      ansible.builtin.include_role:
        name: os_prepare
    - name: Install and configure libvirt
      ansible.builtin.include_role:
        name: kvm_install
    - name: Create base 0-debian image
      ansible.builtin.include_role:
        name: basevm_create
    - name: Configure iGPU passthrough
      ansible.builtin.include_role:
        name: igpu_passthrough

- name: Create VMs
  hosts: hypervisor
  environment:
    LIBVIRT_DEFAULT_URI: "qemu:///system"
  tasks:
    - name: Create VMs
      ansible.builtin.include_role:
        name: vm_create

- name: Wait for VMs to be online
  hosts: vms
  gather_facts: false
  tasks:
    - name: Wait for VM connection
      ansible.builtin.wait_for_connection:
        timeout: 60
        delay: 5

- name: VM tasks
  hosts: vms
  become: true
  tasks:
    - name: Prepare basic OS configuration
      ansible.builtin.include_role:
        name: os_prepare # will need a task to format additional disks for VMs that have them. Maybe do a role for that
    # - name: Placeholder VM task # create swapfile there. or maybe above?
    #   ansible.builtin.debug:
    #     var: ansible_facts

- name: Setup hosts & NAS interconnectivity
  hosts: all
  become: true
  tasks:
    - name: Configure IPAM for direct-to-NAS connection
      ansible.builtin.include_role:
        name: ip_direct_setup
#     # - ssh, from everyone to nas & from everyone to everyone else
...
