---
- name: Update GRUB
  ansible.builtin.command: update-grub
  changed_when: true

- name: Update initramfs
  ansible.builtin.command: update-initramfs -u
  changed_when: true

- name: Reboot
  ansible.builtin.reboot:
...
