---
vm_mac_prefix: '52:54:00:ff:ff'
# VM names are immutable identifiers. Renaming a VM in this dict
# will create a new VM - you must manually clean up the old one
vm_definitions:
  medina:
    user: 'drummer'
    template: 'vm.xml.j2'
    mem: 1
    cpus: 1
    mac: "{{ vm_mac_prefix }}:01"
    extra_disks:
      - suffix: 'appdata'
        size: '16G'
        target: 'vdb'
  razorback:
    user: 'bobbie'
    template: 'vm_igpu.xml.j2'
    mem: 4
    cpus: 2
    mac: "{{ vm_mac_prefix }}:02"
    extra_disks:
      - suffix: 'appdata'
        size: '64G'
        target: 'vdb'
  canterbury:
    user: 'amos'
    template: 'vm.xml.j2'
    mem: 20
    cpus: 8
    mac: "{{ vm_mac_prefix }}:03"
    extra_disks:
      - suffix: 'appdata'
        size: '64G'
        target: 'vdb'
  tycho-01:
    user: 'ashford'
    template: 'vm.xml.j2'
    mem: 2
    cpus: 2
    mac: "{{ vm_mac_prefix }}:04"
    autostart: false
  tycho-02:
    user: 'ashford'
    template: 'vm.xml.j2'
    mem: 2
    cpus: 2
    mac: "{{ vm_mac_prefix }}:05"
    autostart: false

os_prepare_ipv4_dns: "{{ ipv4_dns }}"
os_prepare_ipv4_broadcast: "{{ ipv4_broadcast }}"
os_prepare_ipv4_netmask: "{{ ipv4_netmask }}"
os_prepare_ipv4_gateway: "{{ ipv4_gateway }}"

ip_direct_setup_ipv4_netmask: "{{ local_network_ipv4_netmask }}"
ip_direct_setup_remote_local_ip: "{{ remote_device_local_ip }}"
ip_direct_setup_remote_direct_ip: "{{ remote_device_direct_ip }}"
...
