---
vm_definitions:
  medina:
    template: 'vm.xml.j2'
    mem: 1
    cpus: 1
    mac: "{{ vm_mac_prefix }}:01"
    swap: 2
    extra_disks:
      - suffix: 'appdata'
        mountpoint: '/docker'
        gid: "{{ docker_group_gid | default(ansible_user) }}"
        mode: '2770'
        size: '16'
        target: 'vdb'
        template: 'extra_disk.xml.j2'
        vol_template: 'extra_vol.xml.j2'
  razorback:
    template: 'vm_igpu.xml.j2'
    mem: 4
    cpus: 2
    mac: "{{ vm_mac_prefix }}:02"
    swap: 4
    extra_disks:
      - suffix: 'appdata'
        mountpoint: '/docker'
        gid: "{{ docker_group_gid | default(ansible_user) }}"
        mode: '2770'
        size: '64'
        target: 'vdb'
        template: 'extra_disk.xml.j2'
        vol_template: 'extra_vol.xml.j2'
    nfs_mount: true
  canterbury:
    template: 'vm.xml.j2'
    mem: 20
    cpus: 8
    mac: "{{ vm_mac_prefix }}:03"
    swap: 4
    extra_disks:
      - suffix: 'appdata'
        mountpoint: '/docker'
        gid: "{{ docker_group_gid | default(ansible_user) }}"
        mode: '2770'
        size: '64'
        target: 'vdb'
        template: 'extra_disk.xml.j2'
        vol_template: 'extra_vol.xml.j2'
      - suffix: 'downloads'
        mountpoint: '/temp'
        gid: "{{ docker_group_gid | default(ansible_user) }}"
        mode: '2770'
        size: '150'
        target: 'vdc'
        template: 'extra_disk.xml.j2'
        vol_template: 'extra_vol.xml.j2'
    nfs_mount: true
  tycho:
    template: 'vm.xml.j2'
    mem: 4
    cpus: 4
    mac: "{{ vm_mac_prefix }}:04"
    autostart: false

vm_mac_prefix: '52:54:00:ff:ff'
nfs_mount_definition:
  source: "nas.home:/volume1/data"
  path: "/mnt/nas/data"
  opts: "hard,nfsvers=4.1,x-systemd.automount,x-systemd.mount-timeout=10s,rsize=1048576,wsize=1048576,noatime"
...
