---
- name: Restart networking
  ansible.builtin.systemd:
    name: networking
    state: restarted

- name: Restart SSH
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: Update GRUB
  ansible.builtin.command: update-grub
  changed_when: true

- name: Apply sysctl params
  ansible.builtin.command: sysctl --system
  changed_when: true
...
